<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wz.mapper.SongsMapper">


    <select id="selBySid" parameterType="int" resultType="wz.pojo.Songs">
        select s.id id, s.name name, s.format format, singers.name sname, s.number number from songs s
        left join singers on s.sid = singers.id
        where sid=#{0}
    </select>

    <select id="selByName" parameterType="string" resultType="wz.pojo.Songs">
        select s.id id, s.name name, s.format format, singers.name sname, s.number number from songs s
        left join singers on s.sid = singers.id
        <where>
            <if test="#{name} != null">
                and s.name like "%"#{name}"%"
            </if>
        </where>
    </select>

    <insert id="insSong" parameterType="wz.pojo.Songs">
--         insert into songs values (default, #{name}, #{path}, #{sid})
    </insert>


</mapper>